services:
  tugboat:
    container_name: tugboat
    image: tugboat:latest
    env_file:
      - .env.local
    ports:
      - "7567:7567"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/tugboat:/tugboat
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  default:
    driver: bridge